{% extends "main.html" %}

{% block content %}
<h3>가설 설정</h3>
<hr>
<h5>수도권 과밀화:</h5>
<ul>
    <li>가설 1: 수도권의 인구 유입이 지방 인구 감소시킨다. [이현희]</li>
    <li>가설 2: 대도시의 자연증가율 보다 소도시의 자연증가율이 낮을것이다.[최연우]</li>
    <li>가설 3: 지방의 낮은 혼인율이 인구 감소를 가속화한다. [이현희]</li>
</ul>
<h5>저출산 문제:</h5>
<ul>
    <li>가설 1: 결혼율 감소가 출산율 하락의 주요 원인일것이다 [이현희]</li>
    <li>가설 2: 개인소득의 증가는 자연증가율을 증가시킬 것이다. [이현희]</li>
    <li>가설 3: 수도권의 높은 생활비가 출산 기피로 이어진다. [김선형]</li>
    <li>가설 4: 20~30대의 높은 실업률이 결혼율 감소에 주요 원인일 것이다. [이은석]</li>
</ul>
{% endblock %}