{% extends "main.html" %}

{% block content %}
<h3>가설 설정</h3>
<hr>
<h5>저출산 문제:</h5>
<ul>
    <li>가설 1: 결혼율 감소가 출생률 하락의 주요 원인일것이다 [이현희]</li>
    <li>가설 2: 지역별 경제 수준과 출산율의 상관관계가 높을것이다 [이현희]</li>
    <li>가설 3: 수도권의 높은 생활비가 출산 기피로 이어진다 [김선형]</li>
    <li>가설 4: 20~30대의 높은 실업률이 결혼율 감소에 주요 원인일것이다 [이은석]</li>
</ul>
<h5>지방 공동화:</h5>
<ul>
    <li>가설 1: 지방의 낮은 혼인율이 인구 감소를 가속화한다 [이현희]</li>
    <li>가설 2: 지방의 고령화 지수가 수도권보다 높다 [최연우]</li>
    <li>가설 3: 수도권으로의 인구 유입이 지방 인구 감소를 가속화한다 [이현희]</li>
</ul>
{% endblock %}