<div class="section">
  이후 분석에서는 저출산 현상의 원인을 구조적으로 이해하기 위해<br>
  다음과 같은 네 가지 가설을 검증했다.
</div>
<hr>

<h3>저출산</h3>
<div class="section hypothesis">
  <div class="hypothesis-title">가설1 : 결혼율 감소가 출산률 하락의 주요 원인일것이다.</div>
  <div class="img-row">
      <img src="../static/img/graph/가설1-결혼률과 출생률 상관관계분석.png" class="img-fluid">
      <img src="../static/img/graph/가설1-시간에따른 결혼률과 출산률 추이.png" class="img-fluid">
  </div>
  <p>
      결혼율과 출산율은 같은 비율로 함께 하락하고 있으며, 약 49.8%의 상관관계가 확인되었다.<br>
      이는 결혼율 감소가 출산율 감소로 이어지는 구조적 연결 고리로 작용하고 있음을 의미한다.
  </p>
</div>
<hr>

<div class="section hypothesis">
  <div class="hypothesis-title">가설2 : 개인소득의 증가는 자연증가율을 증가시킬 것이다.</div>
  <div class="img-row">
      <img src="../static/img/graph/가설2-지역별 경제 수준과 출산율의 관계.png" class="img-fluid">
  </div>
  <p>
      1인당 개인소득이 약 16,000 이상인 시점부터 출산율이 회복되는 경향이 나타났다.<br>
      이는 단순한 지원이 아닌, 출산이 가능한 경제적 안정 수준이 중요하다는 점을 시사한다.
  </p>
</div>
<hr>

<div class="section hypothesis">
  <div class="hypothesis-title">가설3 : 수도권의 높은 생활비가 출산 기피로 이어진다</div>
  <div class="img-row">
      <img src="../static/img/graph/가설3-출산율표.png" class="img-fluid">
      <img src="../static/img/graph/가설3-물가지수그래프.png" class="img-fluid">
  </div>
  <p>
      수도권과 비수도권 모두 유사한 물가 상승과 출산율 하락을 보여,<br>
      지역 간 생활비 격차가 출산율 저하의 결정적 원인은 아님이 드러났다.
  </p>
</div>
<hr>

<div class="section hypothesis">
  <div class="hypothesis-title">가설4 : 20~30대의 높은 실업률이 결혼율 감소에 주요 원인일 것이다</div>
  <div class="img-row">
      <img src="../static/img/graph/가설4-20대 결혼율VS실업율 상관관계Heatmap2.png" class="img-fluid">
      <img src="../static/img/graph/가설4-30대 결혼율VS실업율 상관관계Heatmap1.png" class="img-fluid">
      <img src="../static/img/graph/가설4-20~30대 혼인율VS실업률.png" class="img-fluid">
  </div>
  <p>
      20대 여성 실업률과 혼인율 간 일부 음의 상관관계가 있었지만, 전체적으로 명확한 인과관계는 없었고 <br>
      30대 남성의 경우에도 일시적 패턴에 불과했다.
  </p>
  <div class="img-row">
      <img src="../static/img/graph/혼인적령기인구_vs_혼인율_추이.png" class="img-fluid">
  </div>
  <p>
      가장 구조적인 문제는 혼인 자체가 가능한 인구가 줄어들고 있다는 사실이다.<br>
      20~34세 인구는 2001년 약 1,240만 명에서 2024년 약 935만 명으로 급감했고,<br>
      이는 과거 출산율 하락이 현재의 혼인 가능 인구 감소로 이어진 구조적 결과다.<br>
      이러한 흐름은 단순한 개인의 선택이 아닌, 인구구조적 악순환의 연속이며,<br>
      결혼율과 출산율이 함께 감소하는 것은 이미 예견된 수순이었다.<br>
  </p>
</div>