<div class="section hypothesis">
  <h3>수도권과밀화</h3>
  <div class="hypothesis-title">가설 1: 수도권으로의 인구 유입이 지방 인구 감소를 가속화한다.</div>
  <div class="img-row">
      <img src="../static/img/graph/수도권-비수도권 순이동률 비교 (2012-2022).png" class="img-fluid">
      <img src="../static/img/graph/청년 전체 실업자 수 추이.png" class="img-fluid">
      <img src="../static/img/graph/각 지역별 취업자수.png" class="img-fluid">
      <img src="../static/img/graph/각 지역별 구인현황.png" class="img-fluid">

      
  </div>
  <p>
    순이동률 그래프에서는<br>
    비수도권에서는, 그래프가 감소하고 있지만 ,<br>
    수도권에서는, 그래프가 일정치를 유지하다가 2020년 기점으로 소폭상승하는것을 알수있다.<br>
</p>  
</div>
<hr>

<div class="section hypothesis">
  <div class="hypothesis-title">가설 2: 대도시의 자연증가율 보다 소도시의 자연증가율이 낮을것이다.</div>
  <div class="img-row">
      <img src="../static/img/graph/가설2-2.도시.png" class="img-fluid">
      <img src="../static/img/graph/가설2-2.지방.png" class="img-fluid">
  </div>
  <p>
      자연 증가율 비교에 따르면,<br>
      수도권과 광역시등 대도시에 비해 지방 소도시의 인구 감소 폭이 훨씬 더 크며,<br>
      이미 다수의 소도시에서는 자연 증가율이 심각한 마이너스 상태에 도달했다.
  </p>
</div>
<hr>

<div class="section hypothesis">
  <div class="hypothesis-title">가설 3: 지방의 낮은 혼인율이 인구 감소를 가속화한다.</div>
  <div class="img-row">
      <img src="../static/img/graph/가설1-년도별 수도권 vs 지방 출산율-결혼률 비교.png" class="img-fluid">
      <img src="../static/img/graph/가설1-년도별 대도시 vs 소도시 출산율-결혼률 비교.png" class="img-fluid">
  </div>
  <p>
      출산율과 혼인율 그래프에서는<br>
      수도권과 비수도권, 대도시와 소도시 모두가 같은 흐름으로 감소하고 있으며,<br>
      낙폭에는 차이가 있지만 감소 방향은 전국적으로 일관되게 나타나고 있다.
  </p>
</div>
<div class="conclusion">
  <strong>분석결과 :</strong> 지방 공동화는 저출산의 주된 원인이라기보다,<br>
  인구 구조 붕괴를 더 빠르게 가속화시키는 지역적 촉매제이며,<br>
  저출산 문제 자체는 전국이 함께 겪고 있는 구조적 인구 위기라고 할 수 있다.
</div>