{% extends "main.html" %}

{% block content %}
<h3>분석 결과 시각화</h3>
<hr>

<h3>저출산 문제</h3>
<strong>가설1 :</strong>결혼율 감소가 출산률 하락의 주요 원인일것이다. <br>
<img src="../static/img/graph/가설1-결혼률과 출생률 상관관계분석.png" class="img-fluid">
<img src="../static/img/graph/가설1-시간에따른 결혼률과 출산률 추이.png" class="img-fluid">
<strong>가설2 :</strong>지역별 경제 수준이 높을수록 출산율이 올라갈것이다. <br>
<img src="../static/img/graph/가설2-지역별 경제 수준과 출산율의 관계.png" class="img-fluid">

<strong>가설3 :</strong>수도권의 높은 생활비가 출산 기피로 이어진다 <br>
<img src="../static/img/graph/가설3-출산율표.png" class="img-fluid">
<img src="../static/img/graph/가설3-물가지수그래프.png" class="img-fluid">
            
<strong>가설4 :</strong>20~30대의 높은 실업률이 결혼율 감소에 주요 원인일 것이다 <br>
<img src="../static/img/graph/가설4-20대 결혼율VS실업율 상관관계Heatmap2.png" class="img-fluid">
<img src="../static/img/graph/가설4-30대 결혼율VS실업율 상관관계Heatmap1.png" class="img-fluid">
<img src="../static/img/graph/가설4-20~30대 혼인율VS실업률.png" class="img-fluid">
<img src="../static/img/graph/혼인적령기인구_vs_혼인율_추이.png" class="img-fluid">

<hr>
<h3>지방 공동화 문제</h3>
    <strong>가설1 :</strong> <br>

    <strong>가설2 :</strong> <br>
            
    <strong>가설3 :</strong> <br>
                
    <strong>가설4 :</strong> <br>

{% endblock %}