{% extends "main.html" %}

{% block content %}
<h3>분석 결론</h3>
<hr>

<h4>저출산 문제</h4>
<br>
<br>
<br>
<br>
<br>

<h4>지방 공동화 문제</h4>

<ol>
    <li>분석3 : 수도권의 인구가 증가하며, 지방은 인구가 감소하고있다. </li>
    해결방법 : 지방인구의 유출을 막을 방법이 필요하다.
    <li>분석2 : 전국적으로 자연증가률이 감소하나, 대도시보다 소도시에서 더욱 큰 폭으로 자연증가율이 떨어진다.</li>
    해결방법 : 지방 소도시에 인구유입 지원정책 실행
    <li>분석1 : 인구 감소 문제는 지방만의 문제가 아니라 전국적으로 혼인률과 출산률이 떨어지는것이 원인이기 때문에 이를 해결해야한다. </li>
    해결방법 : 결혼률 및 출산률을 올리기 위한 정책 실행이 필요
</ol>




<!-- <img src="/static/img/graph/전체분포 - 이상치분포.png" class="img-fluid" > -->
{% endblock %}