{% extends "main.html" %}

{% block content %}
<h3>참고문헌</h3>
<hr>

<ul>
    <li>
        인구통계데이터:<br>
        <a href="/static/data/Korean_demographics.csv" download>(Korean_demographics.csv)</a>
    </li>
    <li>
        지역별 경제소득 데이터:<br>
        <a href="/static/data/지역별1인당경제소득.csv" download>(지역별1인당경제소득.csv)</a>
    </li>
    <li>
        인구수 이동률:<br>
        <a href="/static/data/지역별순이동률2012-2022.csv" download>(지역별순이동률2012-2022.csv)</a>
    </li>
    <li>
        각 지역별 연도별 물가지수 수치 데이터:<br>
        <a href = "https://kosis.kr/statHtml/statHtml.do?sso=ok&returnurl=https%3A%2F%2Fkosis.kr%3A443%2FstatHtml%2FstatHtml.do%3Fconn_path%3DMT_GTITLE01%26list_id%3D105%26obj_var_id%3D%26seqNo%3D%26tblId%3DINH_1J22003%26vw_cd%3DMT_GTITLE01%26itm_id%3D%26language%3Dkor%26lang_mode%3Dko%26orgId%3D101%26">(KOSIS링크)</a>
    </li>
    
</ul>

{% endblock %}