<!DOCTYPE html>
<html>
<head>
    <!-- 부트스트랩 CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Axios CDN -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <!-- JS -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>
<body>
    <!-- 내비게이션 -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Team Phoenix</a>
            <div class="navbar-nav">
                <a class="nav-link" href="#">1번</a>
                <a class="nav-link" href="#">2번</a>
                <a class="nav-link" href="#">3번</a>
                <a class="nav-link" href="#">4번</a>
                <a class="nav-link" href="#">5번</a>
            </div>
        </div>
    </nav>

    <!-- 메인컨텐츠 -->
    <div class="container-fluid">
        <div class="row">
            <!-- 사이드바 -->
            <div class="col-3 sidebar">
                <div class="list-group">
                    <div class="menu-item" onclick="loadContent(0)">0.시나리오설정</div>
                    <div class="menu-item" onclick="loadContent(1)">1.분석목표 및 방법</div>
                    <div class="menu-item" onclick="loadContent(2)">2.사용한 라이브러리 및 활용 데이터셋</div>
                    <div class="menu-item" onclick="loadContent(3)">3.데이터 전처리 과정</div>
                    <div class="menu-item" onclick="loadContent(4)">4.분석결과시각화</div>
                    <div class="menu-item" onclick="loadContent(5)">5.분석에 대한 결론</div>
                    <div class="menu-item" onclick="loadContent(6)">6.참고문헌</div>
                    <div class="menu-item" onclick="loadContent(7)">7.팀원역할</div>
                </div>
            </div>

            <!-- 컨텐츠 -->
            <div class="col-7 contents" id="content-area">
                <!-- 컨텐츠 로드 -->
            </div>
        </div>
    </div>
    <!-- 부트스트랩 JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>